In [2]:
import pandas as pd
# import DB as db
import numpy as np

# test 1

In [ ]:
log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2022-12-11.zip"
log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2023-04-20.zip"
# log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2023-04-19.zip"
# log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2023-04-18.zip"

logdf= pd.read_csv(log_summary_file_name, low_memory=False).query("token == 'confirmLandReservation True'")\
    .drop(columns=['node', 'task_id','project_id', 'error_line'])
# logdf.head()

In [ ]:
# logdf.query("Land_ID in (80312, 80487)")
logdf.query("NID == '26312132702012'")

In [ ]:
land_app_fn = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\DB-summary\DB checksum\NewQueryLand.zip"
land_app_fn =r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\checksum\NewQueryLand.zip"
dbdf= pd.read_csv(land_app_fn, low_memory=False, dtype={'applicant_national_id':str}).query("project_id == 86")
    # .query("project_id == 86 and land_application_status == 'W'")[['applicant_national_id', 'check_sum', 'land_id', 'project_id']]

In [ ]:
dbdf.query("land_id == '80487'")

In [ ]:
df = (dbdf.merge(logdf, left_on='applicant_national_id', right_on='NID')
      .assign(match = lambda x:(x.checksum == x.check_sum))
    #   .fillna('land_id', axis=1)
    #   .assign(land_id = lambda x: x.astype(np.int64) )
    )
# df.info()

In [ ]:
df.match.value_counts()

In [ ]:
df.query("match == False").assign(land_id = lambda x: x.land_id.astype(np.int64)).to_excel(r"C:\Users\yahia\Downloads\mismatch.xlsx")

## UNITS

In [10]:
log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2023-02-07.zip"

logdf= pd.read_csv(log_summary_file_name, low_memory=False, dtype={'NID':str}).query("token == 'confirmReservation True'")\
    .drop(columns=['node', 'task_id','project_id', 'error_line'])

In [11]:
logdf.query("NID == '26411200102736'")

,log_date,line_no,NID,log_type,country,IP_address,service,token,categ,Gov,City,Region,District,Sub_District,Floor_No,building_no,Unit_No,Unit_Model,Unit_ID,checksum
42650,2023-02-07 10:32:58,6012965,26411200102736,ERROR,EG,197.162.113.115,confirmReservation,confirmReservation True,user,القاهرة,القاهرة الجديدة,نزهة الأندلس عمارات مدخل (أ),NaN,NaN,0.0,15.0,17.0,-,157427.0,0141997DCF07912E00BFFCD7637391BB3E6EDC64E6D1FB...

In [ ]:
logdf.token.value_counts()
logdf.to_csv('./out/mis_log.csv')

In [4]:
unit_app_fn = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\checksum\checksum.zip"
dbdf= pd.read_csv(unit_app_fn, low_memory=False, dtype={'applicant_national_id':str}).query("project_id == 87")

In [5]:
dbdf.query("applicant_national_id == '26411200102736'")

,project_id,applicant_national_id,check_sum,land_id
37689,87,26411200102736,0141997DCF07912E00BFFCD7637391BB3E6EDC64E6D1FB...,157427

In [ ]:
dbdf.project_id.value_counts().sort_index(ascending=False)

In [ ]:
dbdf.any()

In [ ]:
df = (dbdf.merge(logdf, how='outer', left_on='applicant_national_id', right_on='NID')
      # .assign(match = lambda x:(x.checksum == x.check_sum))
)

In [ ]:
df.to_csv('./out/checksum.csv')

In [ ]:
df.match.value_counts()

In [ ]:
df.query("match == False").assign(unit_id = lambda x: x.unit_id.astype(np.int64))[['NID', 'check_sum', 'checksum']]
#.to_excel(r"C:\Users\yahia\Downloads\mismatch.xlsx")

# LE04

In [6]:
le04 = pd.read_excel(r"C:\Users\yahia\Downloads\le04.xls", skiprows=1)

In [19]:
le04.iloc[:,[0,1,2,3,17]].rename({
    'نسبة التميز': 'excellence_ratio',
    'مساحة الأرض':'land_size',
    'رقم الأرض':'Land_No',
    'كود المجاورة':'Sub_District',
    'الرقم القومى':'NID'
}, axis=1)

      excellence_ratio  land_size  Land_No  Sub_District             NID
0                 1.08        276      182            47  28809072601377
1                 1.06        312      495            49  28603262601252
2                 1.04        209      451            22  28205232600418
3                 1.00        287      237             4  30110082502313
4                 1.13        209      872             3  29003012503456
...                ...        ...      ...           ...             ...
7316              1.02        209      314             2  26407272100846
7317              1.09        209      409             1  28602012110508
7318              1.12        209       17             3  28501082500159
7319              1.00        287       20             4  29408072500391
7320              1.06        353      351             4  26806012500192

[7321 rows x 5 columns]