In [94]:
import pandas as pd
import DB as db

In [80]:
log_summary_file_name = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\summary\log summary-2022-12-11.zip"
logdf= pd.read_csv(log_summary_file_name, low_memory=False).query("token == 'confirmReservation True'")

In [81]:
logdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 28760 to 29517
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   log_date      15 non-null     object
 1   node          0 non-null      float64
 2   line_no       15 non-null     int64
 3   NID           15 non-null     object
 4   log_type      15 non-null     object
 5   country       15 non-null     object
 6   IP_address    15 non-null     object
 7   service       15 non-null     object
 8   token         15 non-null     object
 9   categ         15 non-null     object
 10  project_id    0 non-null      float64
 11  task_id       0 non-null      float64
 12  error_line    0 non-null      object
 13  Gov           15 non-null     object
 14  City          15 non-null     object
 15  Region        15 non-null     object
 16  District      0 non-null      float64
 17  Sub_District  0 non-null      float64
 18  Floor_No      15 non-null     float64
 19  building_no   15 non-null     float64
 20  Unit_No       15 non-null     float64
 21  Unit_Model    15 non-null     object
 22  Unit_ID       15 non-null     float64
 23  checksum      15 non-null     object
 24  dt            15 non-null     object
dtypes: float64(9), int64(1), object(15)
memory usage: 3.0+ KB

In [104]:
project_id = 64
proj_type = 'unit'
# if proj_type == 'unit':
sql = f"""SELECT unit.project_id, applicant_national_id, unit_id, governorate_id, city_id, 
        region_id, district_id, sub_district_id, unit_type_id, check_sum,
		building_no, unit_no, floor_type_id, floor_number, unit_model, unit_size
        FROM unit left JOIN unit_application USING (unit_id) 
        WHERE unit_application_status = 'W'
        AND unit.project_id = {project_id}"""
# else:
    # sql  = """units data.ipynb"""

dbdf= db.query_to_pd(sql)

In [105]:
dbdf = dbdf.assign(applicant_national_id = dbdf.applicant_national_id.astype(str))
# dbdf.count()

In [106]:
dbdf

,project_id,applicant_national_id,unit_id,governorate_id,city_id,region_id,district_id,sub_district_id,unit_type_id,check_sum,building_no,unit_no,floor_type_id,floor_number,unit_model,unit_size
0,64,28007140104035,118790,1,71,1,NULL,NULL,1,016FB38503471C61370CF08C28E6AF04B251240FEDFB2E...,22,1,1,0,السندس,156
1,64,28310161200071,118792,1,71,1,NULL,NULL,1,01E42BFCAE2C0E11CA156E061987139BF40EDF2861763B...,22,101,2,1,السندس,165
2,64,27312302600094,118793,1,71,1,NULL,NULL,1,012328214C427AE6CF10A2519441D95388C279CE984046...,22,102,2,1,السندس,165
3,64,28505181701617,118794,1,71,1,NULL,NULL,1,01A6A0B7DAD657C39FBBBF31E44055B8340A3503A87B7E...,22,201,2,2,السندس,167
4,64,29710012116841,118795,1,71,1,NULL,NULL,1,0173C1689BB994AC6658644015C2F1FD6CC2F0E97F5043...,22,202,2,2,السندس,178
5,64,28106161200555,118796,1,71,1,NULL,NULL,1,01CBE4824867B8A339C414B4F8B76B3E1195D63358A106...,22,301,2,3,السندس,165
6,64,27912030105711,118797,1,71,1,NULL,NULL,1,01890E5FA4DF7F0EB60389F04F031CA27EE6ACEF85A7AE...,22,302,2,3,السندس,176
7,64,23405142700872,118798,1,71,1,NULL,NULL,1,01BC5E63D05A0E16BD67B4D930667AB6F7D775458ECFAC...,22,401,3,4,السندس,165
8,64,28111210104595,118799,1,71,1,NULL,NULL,1,0196BF09A8A0AE379C1EABC40C178F9804A9ABBDD18013...,22,402,3,4,السندس,176
9,64,27701130102573,118800,1,71,1,NULL,NULL,1,01354C8B297CFC7F579B8F92FE1CB51F6537963C83F854...,35,1,1,0,العلياء,209
10,64,27410241402334,118803,1,71,1,NULL,NULL,1,016A145E000B04DBEF984D71001ABCB93B2EAA34D52DCC...,35,301,2,3,العلياء,210
11,64,28306040103632,118805,1,71,1,NULL,NULL,1,016EE4C05F5288457CB60093C683BE1387FCF00BE6D1F6...,9,1,1,0,الروضة,277
12,64,28911011303054,118806,1,71,1,NULL,NULL,1,01C386FC47DD936DA2B866E92930D2DE9F547C120D8DE9...,9,101,2,1,الروضة,310
13,64,28310041400921,118807,1,71,1,NULL,NULL,1,0104E855E75E347D1A59492C42D765EA302BD3DB60C74B...,9,201,2,2,الروضة,310
14,64,28312240102177,118808,1,71,1,NULL,NULL,1,015996A354BF0BE5B508706C4E2CB4B499C9DA1A5D59EE...,9,301,2,3,الروضة,299

In [111]:
df = dbdf.merge(logdf, left_on='applicant_national_id', right_on='NID')

In [112]:
df.columns

Index(['project_id_x', 'applicant_national_id', 'unit_id', 'governorate_id',
       'city_id', 'region_id', 'district_id', 'sub_district_id',
       'unit_type_id', 'check_sum', 'building_no_x', 'unit_no',
       'floor_type_id', 'floor_number', 'unit_model', 'unit_size', 'log_date',
       'node', 'line_no', 'NID', 'log_type', 'country', 'IP_address',
       'service', 'token', 'categ', 'project_id_y', 'task_id', 'error_line',
       'Gov', 'City', 'Region', 'District', 'Sub_District', 'Floor_No',
       'building_no_y', 'Unit_No', 'Unit_Model', 'Unit_ID', 'checksum', 'dt'],
      dtype='object')

In [113]:
df[['building_no_x', 'building_no_y', 'unit_no', 'Unit_No', 'floor_number', 'floor_type_id', 'Floor_No', 'checksum', 'check_sum']]

,building_no_x,building_no_y,unit_no,Unit_No,floor_number,floor_type_id,Floor_No,checksum,check_sum
0,22,22.0,1,1.0,0,1,0.0,016FB38503471C61370CF08C28E6AF04B251240FEDFB2E...,016FB38503471C61370CF08C28E6AF04B251240FEDFB2E...
1,22,22.0,101,101.0,1,2,0.0,01E42BFCAE2C0E11CA156E061987139BF40EDF2861763B...,01E42BFCAE2C0E11CA156E061987139BF40EDF2861763B...
2,22,22.0,102,102.0,1,2,0.0,012328214C427AE6CF10A2519441D95388C279CE984046...,012328214C427AE6CF10A2519441D95388C279CE984046...
3,22,22.0,201,201.0,2,2,0.0,01A6A0B7DAD657C39FBBBF31E44055B8340A3503A87B7E...,01A6A0B7DAD657C39FBBBF31E44055B8340A3503A87B7E...
4,22,22.0,202,202.0,2,2,0.0,0173C1689BB994AC6658644015C2F1FD6CC2F0E97F5043...,0173C1689BB994AC6658644015C2F1FD6CC2F0E97F5043...
5,22,22.0,301,301.0,3,2,0.0,01CBE4824867B8A339C414B4F8B76B3E1195D63358A106...,01CBE4824867B8A339C414B4F8B76B3E1195D63358A106...
6,22,22.0,302,302.0,3,2,0.0,01890E5FA4DF7F0EB60389F04F031CA27EE6ACEF85A7AE...,01890E5FA4DF7F0EB60389F04F031CA27EE6ACEF85A7AE...
7,22,22.0,401,401.0,4,3,0.0,01BC5E63D05A0E16BD67B4D930667AB6F7D775458ECFAC...,01BC5E63D05A0E16BD67B4D930667AB6F7D775458ECFAC...
8,22,22.0,402,301.0,4,3,0.0,0196BF09A8A0AE379C1EABC40C178F9804A9ABBDD18013...,0196BF09A8A0AE379C1EABC40C178F9804A9ABBDD18013...
9,35,35.0,1,1.0,0,1,0.0,01354C8B297CFC7F579B8F92FE1CB51F6537963C83F854...,01354C8B297CFC7F579B8F92FE1CB51F6537963C83F854...
10,35,35.0,301,301.0,3,2,0.0,016A145E000B04DBEF984D71001ABCB93B2EAA34D52DCC...,016A145E000B04DBEF984D71001ABCB93B2EAA34D52DCC...
11,9,9.0,1,1.0,0,1,0.0,016EE4C05F5288457CB60093C683BE1387FCF00BE6D1F6...,016EE4C05F5288457CB60093C683BE1387FCF00BE6D1F6...
12,9,9.0,101,101.0,1,2,0.0,01C386FC47DD936DA2B866E92930D2DE9F547C120D8DE9...,01C386FC47DD936DA2B866E92930D2DE9F547C120D8DE9...
13,9,9.0,201,201.0,2,2,0.0,0104E855E75E347D1A59492C42D765EA302BD3DB60C74B...,0104E855E75E347D1A59492C42D765EA302BD3DB60C74B...
14,9,9.0,301,301.0,3,2,0.0,015996A354BF0BE5B508706C4E2CB4B499C9DA1A5D59EE...,015996A354BF0BE5B508706C4E2CB4B499C9DA1A5D59EE...

In [114]:
# df.query("building_no_x != building_no_y or  unit_no != Unit_No or floor_number != floor_type_id")
df.query("checksum != check_sum")

Empty DataFrame
Columns: [project_id_x, applicant_national_id, unit_id, governorate_id, city_id, region_id, district_id, sub_district_id, unit_type_id, check_sum, building_no_x, unit_no, floor_type_id, floor_number, unit_model, unit_size, log_date, node, line_no, NID, log_type, country, IP_address, service, token, categ, project_id_y, task_id, error_line, Gov, City, Region, District, Sub_District, Floor_No, building_no_y, Unit_No, Unit_Model, Unit_ID, checksum, dt]
Index: []

[0 rows x 41 columns]