In [3]:
import pandas as pd
import os
# import lxml
import DB as db

# Test - 1

In [ ]:
projects= (66, 67, 68, 69)
# files = ('Results-66.txt', 'Results-67.txt', 'Results-68.txt', 'Results-69.txt')
dir = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Projects\Realestate Reservation Portal\5- Operation\Incident reports\change land-no\checksum"

lst = []
for p in projects:

    fpath = os.path.join(dir, f"Results-{p}.txt") 
    with open(fpath, 'rt') as f:
        while(True):
            line = f.readline()
            if not line: break
            if line[:5] in ('-----', '     '): continue
            NID = line[25:39]
            land_id = line[51:56]
            res_no = line[79:93]
            valid = line[98:106].strip()
            rec = [p, NID, land_id, res_no, valid]
            lst.append(rec)

df = pd.DataFrame(data=lst, columns=['project', 'NID', 'land_id', 'reservation_no', 'valid'])
df.to_csv('./out/checksum.csv')

In [ ]:
df1=pd.DataFrame()
df1['NID'] = df.iloc[:,0].str[25:41]
df1['land_id'] = df.iloc[:,1].str[10:16]
df1['res_no'] = df.iloc[:,2].str[22:35]
df1['valid'] = df.iloc[:,2].str[40:50]
df1.loc[df1.NID.str.startswith('---')]
# df1

In [ ]:
dblog_csv_fn = r"C:\Yahia\Python\portal_logs\out\dblog_from-to_db_log.csv"
# df = pd.read_csv(dblog_csv_fn, parse_dates=True, usecols=['tmstamp', 'query','params','proc_tbl'])
df = pd.read_csv(dblog_csv_fn, parse_dates=True, usecols=['params','proc_tbl'])
proc_name = 'reserveLand'
tbl = df.loc[df.proc_tbl == proc_name]

In [ ]:
t = tbl.params.str.split(',')
# t.apply(lambda x: x[2])
t.apply(lambda x: len(x))

In [ ]:
nparams = len(tbl.iloc[0,1].split(','))
df = pd.DataFrame()
t = tbl.params.str.split(',')
for i in range(nparams) :
    df[f"P{i+1}"] = t.apply(lambda x: x[i])

df

In [ ]:
{"Gov":"القاهرة","City":"القاهرة الجديدة","Region":"نزهة التجمع الثالث بمنطقة المستقبل (3)","District":"null","Sub_District":"null","Floor_No":"0","building_no":"2","Unit_No":"15","Unit_Model":"A","Unit_ID":"118744","checksum":"01AE4AA44C9C78B81EFC0443D02AC43C687F023ECCB8A07631FEC86258B50CE7F6"}

In [ ]:
import tarfile
fn = r"C:\Users\yahia\Downloads\server.log.2022-12-28.tar.gz"

file_name = None
file_obj = fn
with tarfile.open(name  = fn, fileobj = file_obj, mode = "r:gz") as tar:
    for member in tar.getmembers():
        f=tar.extractfile(member)
        for f in zfiles:
        line_no = 0
        # print (fname)
        while True:
            txt = f.readline()
            # print (len(txt), txt)
            if not txt: break # end of file
            line_no += 1

            # if line_no > 10000: break
            # if line_no < 100000000: continue
            # if line_no % 10000 == 0: print (line_no)
            if line_no % 40000 == 0: print (line_no)
            
            txt = txt.decode('utf-8')
            log_type = txt[24:29]

In [3]:

import pandas as pd
fn = r"C:\Users\yahia\OneDrive - Data and Transaction Services\Python-data\PortalLogs\DB-summary\log summary-2022-12-26.zip"
df = pd.read_csv(fn, compression='zip', date_parser='timestamp', infer_datetime_format=True)

In [10]:
# x= pd.to_datetime(df.timestamp).dt.date
# df1 = pd.concat([df,x], axis=1)
df1=df.copy()
df1.timestamp = pd.to_datetime(df.timestamp).dt.date

In [20]:
df1.groupby('timestamp').count().max().index

Index(['line_no', 'n', 'query_type', 'cmd', 'proc_tbl', 'params', 'query'], dtype='object')

# Test -2

In [34]:

fn = r"./out/xx.csv"
df = pd.read_csv(fn)    #, compression='zip')#, date_parser='timestamp', infer_datetime_format=True)

In [39]:
# df['res_date'] = df.land_application_date.apply(lambda x: x[:10])
df1= df[['project_id', 'land_application_date']].groupby(['project_id']).count()
df1 = df1.rename({'land_application_date':'Count'}, axis=1).reset_index().set_index('project_id')
df2 = db.query_to_pd('project')
df3 = pd.concat([df2, df1],axis=1 )
df3.dropna(subset=['Count'], inplace=True)
df3

,project_id,project_type_id,publish_date,publish_end_date,start_date,end_date,project_name_ar,No.OfUnits/Lands,No.OfApplications,No.OfPaidCustomers,No.OfReservations,Count
57,65.0,1.0,13-11-22,12-12-22,12-12-22,12-12-22,كمبوند شاليهات الفيروز بمدينة الغردقة,16,302,59,16,19.0
58,66.0,4.0,04-12-22,28-12-22,25-12-22,25-12-22,قطع أراضي أكثر تميزا مرحلة ثامنة,709,311,311,284,1.0
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.0
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,324.0

In [32]:
df3

,project_id,project_type_id,publish_date,publish_end_date,start_date,end_date,project_name_ar,No.OfUnits/Lands,No.OfApplications,No.OfPaidCustomers,No.OfReservations,res_date,Count
0,1.0,1.0,18-07-18,25-08-18,12-08-18,25-08-18,العاصمة الإدارية الجديدة - مشروع كابيتال رزيدا...,"2,384","6,425","2,355","1,873",NaN,NaN
1,2.0,1.0,14-10-18,13-12-18,19-11-18,13-12-18,مشروع جنة السكنى وحدات كاملة التشطيب بمدن ال...,"7,176","11,404","5,766","4,457",NaN,NaN
2,3.0,1.0,23-12-18,07-03-19,17-02-19,07-03-19,مدينتى - للعاملين بالوزارة و الهيئة و الأجهزة...,"1,000","2,099","1,532","1,000",NaN,NaN
3,4.0,1.0,06-01-19,14-02-19,03-02-19,14-02-19,سكن مصر - المرحلة التكميلية,"5,694","1,469",832,724,NaN,NaN
4,5.0,1.0,20-01-19,05-03-19,26-02-19,05-03-19,مشروع الاسكان المتميز بمدينة العلمين الجديدة -...,536,"3,900","1,755",536,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-08-21,12.0
66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-25,1.0
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-26,3.0
68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-27,105.0
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-12-28,271.0