In [1]:
import pandas as pd
df = pd.read_csv('.\\out\\log_df.csv')

In [2]:
df.head(10)

,log_date,node,line_no,NID,log_type,country,IP_address,service,token,categ,error_line
0,2022-06-26 22:57:11.000,NaN,2,NaN,ERROR,NaN,NaN,NaN,io.undertow.,tech,NaN
1,2022-06-26 22:57:21.359,NaN,3,2.720301e+13,ERROR,NaN,156.202.95.59,logout,Login Success,user,NaN
2,2022-06-26 22:57:27.040,NaN,4,2.920319e+13,ERROR,NaN,2001:16a2:db7a:5214:cd96:e5c6:fda3:3b42,logout,Login Success,user,NaN
3,2022-06-26 22:57:29.000,NaN,5,NaN,ERROR,NaN,NaN,NaN,userLocked,user,NaN
4,2022-06-26 22:57:29.847,NaN,6,2.760720e+13,ERROR,NaN,197.38.132.33,login,Login Failed,user,NaN
5,2022-06-26 22:57:56.810,NaN,7,2.850624e+13,ERROR,NaN,2c0f:fc89:b2:5e16:288b:6724:d93:1dda,login,Login Success,user,NaN
6,2022-06-26 22:58:06.000,NaN,8,NaN,ERROR,NaN,NaN,NaN,Exception processing template,tech,NaN
7,2022-06-26 22:58:06.000,NaN,9,NaN,ERROR,NaN,NaN,NaN,io.undertow.,tech,NaN
8,2022-06-26 22:58:23.000,NaN,10,NaN,ERROR,NaN,NaN,NaN,userLocked,user,NaN
9,2022-06-26 22:58:23.468,NaN,11,2.820414e+13,ERROR,NaN,196.150.218.180,login,Login Failed,user,NaN

In [ ]:
pd.to_datetime(df['log_date']).dt.date  
# pd.Timestamp(df['log_date'])
# x.dt.date
# x.week
# y

In [26]:
x = df[['token', 'line_no']].fillna('x').\
        groupby(['token'],as_index = False).count().sort_values(by='line_no', ascending=False)
x 

# x.pivot(index = ['error_categ'], columns = ['service'], values=['line_no']).fillna(0).\
#            groupby(['service','error_categ'],as_index = False).count()
# x
import DB as db

conn, cursor = db.open_db()
for r in x.iterrows():
        cmd = r"UPDATE error_tokens set prio = '{r[1][1]}' WHERE token = '{r[1][0]}'"
conn.commit()

io.undertow. 188
Exception processing template 187
Login Success 165
Login Failed 92
userLocked 36
Response already commited 28
UserNotFound 25
Request method 'GET' not supported 13
java.lang. 1
java.time.DateTimeException 1
org.springframework. 1

In [ ]:
x.plot(x='dt', y='line_no')