In [3]:
import pandas as pd

# Test 1

In [43]:
# fn_1 = r"C:\Yahia\Python\portal_logs\data\Units data\3333.csv"
# fn = r"C:\Yahia\Python\portal_logs\data\Units data\7777.csv"
# df_1 = pd.read_csv(fn_1, dtype_backend = 'pyarrow', low_memory=True)

# fn_2 = r"C:\Yahia\Python\portal_logs\data\All Units Projects.zip"
fn_2 = r"C:\Users\yahia\Downloads\E05____________________________________________.csv"
fn2 = r"C:\Users\yahia\Downloads\E04__________________________.xlsx"
df2 = pd.read_excel(fn2, dtype_backend = 'pyarrow', skiprows=3)
# df_2['bi_gov'] = df_2.applicant_national_id.astype(str).str[7:9].values
df2= df2.dropna(subset='الرقم القومى')
df2['nid_gov'] = df2['الرقم القومى'].astype(str).str[7:9].astype(int)
df2.columns
df2.info()

C:\Users\yahia\AppData\Roaming\Python\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

<class 'pandas.core.frame.DataFrame'>
Index: 1187 entries, 0 to 1186
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   تاريخ الحجز    1187 non-null   timestamp[us][pyarrow]
 1   نسبة التميز    1187 non-null   double[pyarrow]
 2   Unnamed: 2     0 non-null      null[pyarrow]
 3   المساحة        1187 non-null   int64[pyarrow]
 4   رقم الأرض      1187 non-null   int64[pyarrow]
 5   المجاورة       1187 non-null   string[pyarrow]
 6   الحى           1187 non-null   string[pyarrow]
 7   المنطقة        1187 non-null   string[pyarrow]
 8   المدينة        1187 non-null   string[pyarrow]
 9   الرقم القومى   1187 non-null   int64[pyarrow]
 10  الأسم          1187 non-null   string[pyarrow]
 11  رقم الأستمارة  1187 non-null   string[pyarrow]
 12  Unnamed: 12    0 non-null      null[pyarrow]
 13  Unnamed: 13    0 non-null      string[pyarrow]
 14  Unnamed: 14    1187 non-null   int64[pyarrow]
 15  nid_gov        1187 non-null   int32
dtypes: double[pyarrow](1), int32(1), int64[pyarrow](4), null[pyarrow](2), string[pyarrow](7), timestamp[us][pyarrow](1)
memory usage: 278.8 KB

In [80]:
# nid_gov = pd.read_csv(r"C:\Yahia\Python\portal_logs\data\nid_gov.csv")
portal_gov = pd.read_csv(r"C:\Yahia\Python\portal_logs\data\portal_gov.csv")
portal_gov.columns

Index(['gov_code', 'portal_gov_name', 'city_code', 'city_name',
       'nid_gov_code'],
      dtype='object')

In [ ]:
# df3 = df_2.dropna(subset='reservation_number')[['project_id', 'project_name_ar', 'applicant_national_id', 'governorate_name_ar', 'gov']]
# df3 = df2[['nid_gov']]\
df3 = df2[['رقم الأستمارة',  'الرقم القومى', 'المدينة', 'nid_gov']]\
    .merge(portal_gov, how='left', left_on = 'nid_gov', right_on='portal_gov_code')
# df3.columns

df3.columns

In [84]:
df3

,رقم الأستمارة,الرقم القومى,المدينة,nid_gov,gov_code,portal_gov_name,city_code,city_name,nid_gov_code
0,55550110002427,29808272201303,أسيوط الجديدة,22,22.0,بنى سويف,11.0,بنى سويف الجديدة,22.0
1,55550110003165,29809082201273,أسيوط الجديدة,22,22.0,بنى سويف,11.0,بنى سويف الجديدة,22.0
2,55550110002923,29005112500031,أسيوط الجديدة,25,25.0,اسيوط,14.0,أسيوط الجديدة,25.0
3,55550110002923,29005112500031,أسيوط الجديدة,25,25.0,اسيوط,26.0,مدينة ناصر غرب,25.0
4,55550110001916,29509012601939,أسيوط الجديدة,26,26.0,سوهاج,15.0,سوهاج الجديدة,26.0
...,...,...,...,...,...,...,...,...,...
4343,55550110003258,27103190100338,مدينة طيبة,1,1.0,القاهرة,6.0,العاصمة الادارية,1.0
4344,55550110003258,27103190100338,مدينة طيبة,1,1.0,القاهرة,19.0,15 مايو,1.0
4345,55550110003258,27103190100338,مدينة طيبة,1,1.0,القاهرة,71.0,اكاسيا,1.0
4346,55550110003258,27103190100338,مدينة طيبة,1,1.0,القاهرة,83.0,مدينتى,1.0
4347,55550110003258,27103190100338,مدينة طيبة,1,1.0,القاهرة,90.0,مدينة الرحاب,1.0

In [87]:
df3 = df3.merge(portal_gov, how='left', on= 'nid_gov_code')

In [90]:
# df3['nid_gov_name']
df3.columns

Index(['رقم الأستمارة', 'الرقم القومى', 'المدينة', 'nid_gov', 'gov_code_x',
       'portal_gov_name_x', 'city_code_x', 'city_name_x', 'nid_gov_code',
       'gov_code_y', 'portal_gov_name_y', 'city_code_y', 'city_name_y'],
      dtype='object')

In [96]:
df3.head()

,رقم الأستمارة,الرقم القومى,المدينة,nid_gov,gov_code_x,portal_gov_name_x,city_code_x,city_name_x,nid_gov_code,gov_code_y,portal_gov_name_y,city_code_y,city_name_y
0,55550110002427,29808272201303,أسيوط الجديدة,22,22.0,بنى سويف,11.0,بنى سويف الجديدة,22.0,22.0,بنى سويف,11.0,بنى سويف الجديدة
1,55550110003165,29809082201273,أسيوط الجديدة,22,22.0,بنى سويف,11.0,بنى سويف الجديدة,22.0,22.0,بنى سويف,11.0,بنى سويف الجديدة
2,55550110002923,29005112500031,أسيوط الجديدة,25,25.0,اسيوط,14.0,أسيوط الجديدة,25.0,25.0,اسيوط,14.0,أسيوط الجديدة
3,55550110002923,29005112500031,أسيوط الجديدة,25,25.0,اسيوط,14.0,أسيوط الجديدة,25.0,25.0,اسيوط,26.0,مدينة ناصر غرب
4,55550110002923,29005112500031,أسيوط الجديدة,25,25.0,اسيوط,26.0,مدينة ناصر غرب,25.0,25.0,اسيوط,14.0,أسيوط الجديدة

In [97]:
df3[['portal_gov_name_y','portal_gov_name_y', 'الرقم القومى' ]]#.groupby(['portal_gov_name','nid_gov_name' ]).count()

      portal_gov_name_y portal_gov_name_y    الرقم القومى
0              بنى سويف          بنى سويف  29808272201303
1              بنى سويف          بنى سويف  29809082201273
2                 اسيوط             اسيوط  29005112500031
3                 اسيوط             اسيوط  29005112500031
4                 اسيوط             اسيوط  29005112500031
...                 ...               ...             ...
17111           القاهرة           القاهرة  27103190100338
17112           القاهرة           القاهرة  27103190100338
17113           القاهرة           القاهرة  27103190100338
17114           القاهرة           القاهرة  27103190100338
17115           القاهرة           القاهرة  27103190100338

[17116 rows x 3 columns]

In [60]:
df3[[ 'project_name_ar','governorate_name_ar', ' gov_name', 'applicant_national_id']].\
    groupby([ 'project_name_ar','governorate_name_ar', ' gov_name']).count().to_excel('./out/gov.xlsx')

# Test 2  : sort applicats by birth Gov per project

In [5]:
# fn = r"C:\Yahia\Python\portal_logs\data\Project 84 and 85.csv"
fn = r"C:\Users\yahia\Downloads\E01___استعلام_عن_بيانات_العملاء_بالمشروع_و_الحالة.xls"
df = pd.read_excel(fn, dtype_backend='pyarrow', skiprows=3)
df= df.dropna(subset='الرقم القومى')
df['nid_gov_code'] = df['الرقم القومى'].astype(str).str[7:9].astype(int)
portal_gov = pd.read_csv(r"C:\Yahia\Python\portal_logs\portal_gov.csv")
# df.columns

In [6]:
df = df.merge(portal_gov[['nid_gov_code', 'portal_gov_name']].drop_duplicates(subset='portal_gov_name'), how='left', on= 'nid_gov_code')

In [10]:
df1=(df[['الرقم القومى', 'portal_gov_name']]
        .groupby(['portal_gov_name']).count()
        .sort_values(['الرقم القومى'], ascending = False))
df1['%'] =df1['الرقم القومى'].astype(int) /df.count()[0]
df1

                 الرقم القومى         %
portal_gov_name
اسيوط                   10637  0.697645
سوهاج                    9516  0.624123
بنى سويف                 2380  0.156096
قنا                      1396  0.091559
الفيوم                    785  0.051486
المنيا                    538  0.035286
القاهرة                   503  0.032990
الجيزة                    360  0.023611
الدقهلية                  114  0.007477
القليوبية                 102  0.006690
الشرقية                    95  0.006231
الاسكندرية                 79  0.005181
المنوفية                   75  0.004919
دمياط                      51  0.003345
كفر الشيخ                  44  0.002886
اسوان                      35  0.002296
البحيرة                    27  0.001771
البحر الأحمر               21  0.001377
السويس                     12  0.000787
مطروح                       2  0.000131

In [2]:
(df[['project_id', 'applicant_national_id',  'land_application_status', 'portal_gov_name_y']]
        .pivot_table(index = ['project_id', 'portal_gov_name_y'], columns =  'land_application_status', aggfunc= 'count', margins=True, fill_value=0, sort=False))
        # sort_values(['project_id', 'applicant_national_id'], ascending = False))

NameError: name 'df' is not defined